@import 'config';

// some global values -----
html{
    font-family:$font-3;
    font-size:125%;
    color:$white;
}

.wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    font-family: $font-2;
}

section{
    padding:100px;
}

// ------

header{
    height:100vh;
    padding:25px 0;
    background-image: url(../animal-assets/image-1.jpg);
    background-size:cover;

    .wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: flex-start;

        nav {
            width: 40%;

            ul {
                display: flex;
                justify-content:space-between;
            }
        }

    }
    h1 {
        align-self: center;
        font-family: $font-1;
        font-size: 6rem;
        line-height: 117px;
        text-transform: uppercase;
        font-weight:regular;
        text-align: right;
    }

    
}

.suzie{
    background-color:$dark-green ;

    .wrapper{
        display:flex;
        // background-color: pink;
    
    }
    .suzie-img{
        flex-basis:30%;
        margin-right:40px;
        img{
            width:100%;
        }
    }

    .suzie-text{
        flex-basis:70%;
        display:flex;
        flex-direction: column;

        h2{
            text-transform: uppercase;
            font-family: $font-1;
            font-size:2.5rem;
            margin-bottom: 10px;;

        }
        p{
            font-family: $font-3;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        
    }


    
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    width: 8rem;
    height: 2rem;
    padding: 0.5rem 0.5rem;
    margin:20px 0;
    font-size: 0.9rem;
    
    a {
        color: $dark-green;
        // background-color: pink;
        
        
    }
}

.friends{
    background-color: $light-green;


    .wrapper{
        display:flex;
        flex-direction:column;   
    }

    h2{
        align-self:center;
        color:$dark-green;
        font-family: $font-1;
        text-transform: uppercase;
        margin-bottom:20px;
        font-size:2.5rem;
        display:inline-block;
        width:20rem;
        text-align: center;
    }

    .gallary{
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        margin-top:20px;
        width:100%;
        .friends-img{
            flex-basis:calc(100%/3 - 20px);
            margin:0 10px;
            
            img{
                max-width:100%;
            }
        }
        :first-child{
            margin-left:0;
        }
        :last-child{
            margin-left:0;
        }
    }

}

.facts{
    background-color: $light-green;
    color:$dark-green;
    
    .wrapper{
        border:4px yellow solid;
        display:flex;
        flex-direction:column;
        align-items: center;

        h2 {
            color: $dark-green;
            font-family: $font-1;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 1.75rem;
        }

        .zebra{
            display:flex;
            flex-direction: row-reverse;
            flex-wrap:wrap;
            width:100vw;

            .facts-text {
                display:flex;
                flex-direction:column;
                justify-content: center;
                flex-basis:calc(50% - 20px - 10%);
                margin-right:20px;
                margin-left:10%;
            }
            
        }
        .facts-img{
            flex-basis:50%;
            img{
                max-width:100%;
            }
        }

        .kitten{
            display:flex;
            width:100vw;

            .facts-text{
                display:flex;
                flex-direction:column;
                justify-content: center;
                flex-basis:calc(50% - 20px - 10%);
                margin-left:20px;
                margin-right:10%;
                
                }
            }
        }
    }

    .contact{
        background-color: $dark-green;
        color: $white;
        font-family: $font-3;
        font-size: 0.8rem;
        line-height:1.25rem;
        .wrapper{
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            .contact-nav{
                flex-basis:calc(15% - 10px);
                align-self:flex-end;
            }
            .stay-updated{
                flex-basis:calc(60%);
                border:none;
                text-align: center;
                margin:0 10px;
                align-self:flex-start;
                h3{
                    font-family: $font-2;
                    text-transform: uppercase;
                    margin-bottom:20px;
                }

                label{
                    font-family: $font-3;
                    font-size:0.8rem;
                }

                .subscribe{
                    display:flex;
                    margin-top:20px;
                }
                
                input{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border:none;
                    margin:0;
                    flex-basis:80%;
                    height:2rem;

                }
                button{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-color: $black;
                    color:$white;
                    border:none;
                    font-family: $font-2;
                    text-transform: uppercase;
                    margin:0;
                    flex-basis:20%;
                }

            }
            .contact-us{
                flex-basis:calc(25% - 10px);
                text-align: right;
                align-self:flex-end;
            }
        }
    }

    footer{
        background-color: $black;
        font-size: 0.8rem;
        .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            height:2rem;
            
        }
    }





