html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto";
  font-size: 125%;
  color: #FCFCFC;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FCFCFC;
  text-transform: uppercase;
  font-family: "Cormorant Garamond";
}

section {
  padding: 100px;
}

header {
  height: 100vh;
  padding: 25px 0;
  background-image: url(../animal-assets/image-1.jpg);
  background-size: cover;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}
header .wrapper nav {
  width: 40%;
}
header .wrapper nav ul {
  display: flex;
  justify-content: space-between;
}
header h1 {
  align-self: center;
  font-family: "Fredericka the Great";
  font-size: 6rem;
  line-height: 117px;
  text-transform: uppercase;
  font-weight: regular;
  text-align: right;
}

.suzie {
  color: #000000;
  background-color: #152D20;
}
.suzie .wrapper {
  display: flex;
}
.suzie .suzie-img {
  flex-basis: 30%;
  margin-right: 40px;
}
.suzie .suzie-img img {
  width: 100%;
}
.suzie .suzie-text {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}
.suzie .suzie-text h2 {
  text-transform: uppercase;
  font-family: "Fredericka the Great";
  font-size: 2.5rem;
}
.suzie .suzie-text p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFC;
  width: 8rem;
  height: 2rem;
  padding: 0.5rem 0.5rem;
  margin: 20px 0;
  font-size: 0.9rem;
}
.button a {
  color: #152D20;
}

.friends {
  background-color: #C3D3CB;
}
.friends .wrapper {
  display: flex;
  flex-direction: column;
}
.friends h2 {
  align-self: center;
  color: #000000;
  font-family: "Fredericka the Great";
  margin-bottom: 20px;
  font-size: 2.5rem;
  display: inline-block;
  width: 20rem;
  text-align: center;
}
.friends .gallary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}
.friends .gallary .friends-img {
  flex-basis: calc(33.3333333333% - 20px);
  margin: 0 10px;
}
.friends .gallary .friends-img img {
  max-width: 100%;
}
.friends .gallary :first-child {
  margin-left: 0;
}
.friends .gallary :last-child {
  margin-left: 0;
}

.facts {
  background-color: #C3D3CB;
  color: #152D20;
}
.facts .wrapper {
  display: flex;
  flex-direction: column;
}
.facts .wrapper .zebra {
  display: flex;
  flex-direction: row-reverse;
}
.facts .wrapper .facts-img {
  flex-basis: 50%;
}
.facts .wrapper .facts-img img {
  max-width: 100%;
}
.facts .wrapper .kitten {
  display: flex;
}/*# sourceMappingURL=main.css.map */