html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto";
  font-size: 125%;
  color: #FCFCFC;
  letter-spacing: 1px;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FCFCFC;
  text-transform: uppercase;
  font-family: "Cormorant Garamond";
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

section {
  padding: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFC;
  width: 8rem;
  height: 2rem;
  margin: 20px 0;
  font-size: 0.9rem;
}
.button a {
  color: #152D20;
  padding: 0.5rem 0.5rem;
}

header {
  height: 100vh;
  padding: 25px 0;
  background-image: url(../animal-assets/image-1.jpg);
  background-size: cover;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}
header .wrapper nav {
  flex-basis: 40%;
}
header .wrapper nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .wrapper nav ul li {
  margin: 0 7px;
}
header h1 {
  flex-basis: 60%;
  align-self: center;
  font-family: "Fredericka the Great";
  font-size: 6rem;
  margin-right: 20px;
  line-height: 117px;
  text-transform: uppercase;
  font-weight: regular;
  text-align: right;
}

.suzie {
  background-color: #152D20;
}
.suzie .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
}
.suzie .suzie-img {
  flex-basis: 30%;
  min-width: 280px;
  margin-right: 20px;
  margin-bottom: 20px;
  flex-shrink: 0;
  flex-grow: 1;
  max-width: min(70% - 40px, 500px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.suzie .suzie-img img {
  max-width: 100%;
}
.suzie .suzie-text {
  flex-basis: calc(70% - 40px);
  min-width: 280px;
  margin-right: 20px;
  flex-shrink: 4;
  flex-grow: 0;
  max-width: min(70% - 40px, 500px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.suzie .suzie-text h2 {
  text-transform: uppercase;
  font-family: "Fredericka the Great";
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.suzie .suzie-text p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.friends {
  background-color: #C3D3CB;
}
.friends .wrapper {
  display: flex;
  flex-direction: column;
}
.friends .wrapper h2 {
  align-self: center;
  color: #152D20;
  font-family: "Fredericka the Great";
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: calc(1rem + 2vw);
  display: inline-block;
  width: 20rem;
  text-align: center;
}
.friends .wrapper .gallary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}
.friends .wrapper .gallary .friends-img {
  flex-basis: calc(33.3333333333% - 20px);
  flex-grow: 1;
  max-width: min(500px, 50% - 20px);
  min-width: 120px;
  margin: 0 10px;
}
.friends .wrapper .gallary .friends-img img {
  max-width: 100%;
}
.friends .wrapper .gallary .friends-img:first-child {
  margin-left: 0;
}
.friends .wrapper .gallary .friends-img:last-child {
  margin-right: 0;
}

.icons {
  background: #152D20;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
}
.icons .icon-gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.icons .icon-gallary li {
  flex-basis: calc(33.3333333333% - 20px);
  min-width: 80px;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons .icon-gallary li .icon-img {
  width: calc(40px + 4vw);
  height: calc(40px + 4vw);
}
.icons .icon-gallary li .icon-img img {
  width: 100%;
}
.icons .icon-gallary span {
  display: block;
}
.icons .icon-gallary h2 {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts {
  background-color: #C3D3CB;
  color: #152D20;
}
.facts .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.facts .wrapper h2 {
  color: #152D20;
  font-family: "Fredericka the Great";
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 1.75rem;
}
.facts .wrapper .zebra {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
.facts .wrapper .zebra .facts-text {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: center;
  flex-basis: calc(50% - 20px - 10%);
  flex-grow: 1;
  margin: 20px 20px 20px 10%;
}
.facts .wrapper .facts-img {
  flex-basis: 50%;
  min-width: 300px;
  flex-grow: 1;
  max-width: 800px;
}
.facts .wrapper .facts-img img {
  max-width: 100%;
}
.facts .wrapper .kitten {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}
.facts .wrapper .kitten .facts-text {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  justify-content: center;
  flex-basis: calc(50% - 20px - 10%);
  flex-grow: 1;
  margin: 20px 10% 20px 20px;
}

.contact {
  background-color: #152D20;
  color: #FCFCFC;
  font-family: "Roboto";
  font-size: 0.8rem;
  line-height: 1.25rem;
}
.contact .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .wrapper .contact-nav {
  flex-basis: calc(15% - 10px);
  align-self: flex-end;
}
.contact .wrapper .stay-updated {
  flex-basis: 60%;
  border: none;
  text-align: center;
  margin: 0 10px;
  align-self: flex-start;
}
.contact .wrapper .stay-updated h3 {
  font-family: "Cormorant Garamond";
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact .wrapper .stay-updated label {
  font-family: "Roboto";
  font-size: 0.8rem;
}
.contact .wrapper .stay-updated .subscribe {
  display: flex;
  margin-top: 20px;
}
.contact .wrapper .stay-updated input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  margin: 0;
  flex-basis: 80%;
  height: 2rem;
}
.contact .wrapper .stay-updated button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  color: #FCFCFC;
  border: none;
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  margin: 0;
  flex-basis: 20%;
}
.contact .wrapper .contact-us {
  flex-basis: calc(25% - 10px);
  text-align: right;
  align-self: flex-end;
}

footer {
  background-color: #000000;
  font-size: 0.8rem;
}
footer .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}/*# sourceMappingURL=main.css.map */