@import 'config';

// some global values -----
html{
    font-family:$font-3;
    font-size:125%;
    color:$white;
}

.wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $white;
    text-transform: uppercase;
    font-family: $font-2;
}

section{
    padding:100px;
}

// ------

header{
    height:100vh;
    padding:25px 0;
    background-image: url(../animal-assets/image-1.jpg);
    background-size:cover;

    .wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: flex-start;

        nav {
            width: 40%;

            ul {
                display: flex;
                justify-content:space-between;
            }
        }

    }
    h1 {
        align-self: center;
        font-family: $font-1;
        font-size: 6rem;
        line-height: 117px;
        text-transform: uppercase;
        font-weight:regular;
        text-align: right;
    }

    
}

.suzie{
    color:$black;
    background-color:$dark-green ;

    .wrapper{
        display:flex;
        // background-color: pink;


    
    }
    .suzie-img{
        flex-basis:30%;
        margin-right:40px;
        img{
            width:100%;
        }
    }

    .suzie-text{
        flex-basis:70%;
        // background-color: royalblue;
        display:flex;
        flex-direction: column;

        h2{
            text-transform: uppercase;
            font-family: $font-1;
            font-size:2.5rem;

        }
        p{
            font-family: $font-3;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        
    }


    
}

.button{
    display:flex;
    background-color: $white;
    color: $dark-green;
    a {
        width: 9rem;
        height: 1.5rem;
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1.5rem;
        
    }
}

.friends{
    background-color: $light-green;


    .wrapper{
        display:flex;
        flex-direction:column;   
    }

    h2{
        align-self:center;
        color:$black;
        font-family: $font-1;
        margin-bottom:20px;
        font-size:2.5rem;
        display:inline-block;
        width:20rem;
        text-align: center;
    }

    .gallary{
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        margin-top:20px;
        width:100%;
        .friends-img{
            flex-basis:calc(100%/3 - 20px);
            margin:0 10px;
            
            img{
                max-width:100%;
            }
        }
        :first-child{
            margin-left:0;
        }
        :last-child{
            margin-left:0;
        }
    }



}




